# -------------------------------------------------
# Ignoring directories and their contents
RTE
DebugConfig
ProjectBackup

# -------------------------------------------------
# Ignoring files by extension
*.log
*.bak
*.scvd
*.dbk
*.obk
*.crf
*.o
*.d
*.eco
strain3-i2c/~$STRAIN3-I2C.pcb.inf
strain3-i2c/database/cdbsvr/log/2023-04-17 14.54.57-20320/2023.04.17.txt
strain3-i2c/database/cdbsvr/log/2023-04-17 15.04.46-32076/2023.04.17.txt
strain3-i2c/database/cdbsvr/log/2023-04-17 17.12.05-13664/2023.04.17.txt
strain3-i2c/database/cdbsvr/log/2023-04-18 15.33.42-800/2023.04.18.txt
strain3-i2c/LogFiles/ProjectBackupLog.txt
strain3-i2c/database/cdbsvr/log/2023-04-19 17.08.36-35268/2023.04.19.txt
