# -------------------------------------------------
# Ignoring directories and their contents
RTE
DebugConfig
ProjectBackup

# -------------------------------------------------
# Ignoring files by extension
*.log
*.bak
*.scvd
*.dbk
*.obk
*.crf
*.o
*.d
*.eco
strain3-i2c/~$STRAIN3-I2C.pcb.inf
