************************************************************************************************
*                                                                                              *
* DRILL TAPE SUMMARY REPORT                                                                    *
*                                                                                              *
* C:\DOCUMENTS AND SETTINGS\ADMINISTRATOR\DOCUMENTI\LAVORI_ORCAD\CLIENTI_MARCO\BDC_V0\BDC.MAX  *
* Mon Sep 30 17:20:06 2013                                                                     *
*                                                                                              *
************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       15       167      200      100                                                                                 
T2       32       8        200      100                                                                                 
T3       43       16       200      100                                                                                 
T4       47       21       200      100                                                                                 
T5       165      2        200      100                                                                                 
