tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	color:#003399;
	font-size:7.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid #6699CC;
	border-bottom:1.0pt solid #6699CC;
	border-left:none;
	background:#E8EDFF;
	mso-pattern:black none;
	white-space:normal;}
.xl66
	{mso-style-parent:style0;
	color:#003399;
	font-size:7.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid #6699CC;
	border-left:none;
	background:#E8EDFF;
	mso-pattern:black none;
	white-space:normal;}
.xl67
	{mso-style-parent:style0;
	font-size:6.0pt;
	text-align:center;
	border-top:none;
	border-right:1.0pt solid #6699CC;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
.xl68
	{mso-style-parent:style0;
	font-size:6.0pt;
	border-top:none;
	border-right:1.0pt solid #6699CC;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
.xl69
	{mso-style-parent:style0;
	font-size:6.0pt;
	white-space:normal;}
.xl70
	{mso-style-parent:style0;
	font-size:6.0pt;
	text-align:center;
	border-top:none;
	border-right:1.0pt solid #6699CC;
	border-bottom:none;
	border-left:none;
	background:#E8EDFF;
	mso-pattern:black none;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	font-size:6.0pt;
	border-top:none;
	border-right:1.0pt solid #6699CC;
	border-bottom:none;
	border-left:none;
	background:#E8EDFF;
	mso-pattern:black none;
	white-space:normal;}
.xl72
	{mso-style-parent:style0;
	font-size:6.0pt;
	background:#E8EDFF;
	mso-pattern:black none;
	white-space:normal;}
.xl73
	{mso-style-parent:style0;
	font-size:24.0pt;
	font-weight:700;}
